Code/s1/CLI/*.pem
Code/s1/CLI/*.ppk
Code/s1/CLI/tmpFile
Code/s1/tf/terraform.tfstate*
Code/s1/tf/.terraform*
Code/s2/CLI/*.pem
Code/s2/CLI/*.ppk
Code/s2/CLI/tmpFile
Code/s3/CLI/*.pem
Code/s3/CLI/*.ppk
Code/s3/CLI/tmpFile
Code/s3/tf/.terraform*
Code/s3/tf/terraform.tfstate*
Code/s3/tf/*.p*
Code/s3/tf/tmpFile
Code/s3/tf/terraform.tf*
Code/s4/CLI/*.pem
Code/s4/CLI/*.ppk
Code/s4/CLI/tmpFile
Code/s4/tf/.terraform*
Code/s4/tf/terraform.tf*
Code/s4/tf/*.p*
Code/s4/tf/tmpFile
Code/s5/CLI/*.pem
Code/s5/CLI/*.ppk
Code/s5/CLI/tmpFile
Code/s5/tf/.terraform*
Code/s5/tf/terraform.tf*
Code/s5/tf/*.p*
Code/s5/tf/tmpFile
Code/s6/CLI/*.pem
Code/s6/CLI/*.ppk
Code/s6/CLI/tmpFile
Code/s7/CLI/*.pem
Code/s7/CLI/*.ppk
Code/s7/CLI/tmpFile
Code/s9/CLI/*.pem
Code/s9/CLI/*.ppk
Code/s9/CLI/tmpFile
Code/s10/CLI/*.pem
Code/s10/CLI/*.ppk
Code/s10/CLI/tmpFile
learn-terraform-aws-instance/*